body{
background-color: #313435;
color: white;
}



.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.3;
  }



  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
  .main-container {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 40%;
    height: 80%;
}

@media only screen and (max-width: 600px) {

    .main-container{
        width: 90%;
        height: 70%;
    }  
}





.main-container input{
    border: none;
    border-bottom: 1px solid #c7bebe;
    font: inherit;
    font-size: 15px;
    margin: 20px;
    max-width: 100%;
    outline: none;
    padding: 0 0 5px;
    text-align: center;
    width: 60%;
    background: transparent;
    color: white;

}



.main-container input:focus{
    border-bottom: 1px solid white;
}




















